/* button {
    font-size: 16px;
    background-color: rgb(32, 14, 18);
    padding: 15px 30px;
    color: rgb(255, 255, 255);
    width: 100px;
} */

.number{
    font-size: 30px;
    padding: 15px 30px;
    color: blue;
    width: 100px;
}